<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Extended.Wpf.Toolkit" version="3.2.0" targetFramework="net461" />
  <package id="jQuery" version="2.1.1" targetFramework="net461" />
  <package id="kayChart.dll" version="0.4.7" targetFramework="net461" />
  <package id="LightningChartUltimateWPF8" version="8.2.1.1" targetFramework="net461" />
  <package id="MaterialDesignColors" version="1.1.2" targetFramework="net461" />
  <package id="MaterialDesignThemes" version="2.3.1.953" targetFramework="net461" />
  <package id="SampleDependency" version="1.0.0" targetFramework="net461" />
  <package id="WPFToolkit" version="3.5.50211.1" targetFramework="net461" />
</packages>